<html>
  <head>
    <title>Address Book</title>
  </head>
  <body>
    <h1>You've added the following contact:</h1>
    <p>{{ new_contact.getName }}</p>
    <ul>
      <li>{{ new_contact.getPhoneNumber }}</li>
      <li>{{ new_contact.getAddress }}</li>
    </ul>
    <p><a href='/'>View your list of contacts!</a></p>
  </body>
</html>
